<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Welcome Email</title>
    <meta name="description" content="Set Password Email." />
    <style type="text/css">
      a:hover {
        text-decoration: underline !important;
      }
      body {
        font-family: Arial;
      }
      .container {
        max-width: 670px;
        margin: 0 auto;
        background: #ffffff;
        border-radius: 3px;
        padding: 20px;
        box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      }
      .header {
        text-align: center;
      }
      .content {
        font-size: 16px;
        color: #371c30;
        padding: 10px 30px;
        text-align: left;
      }
      .footer {
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
      }
    </style>
  </head>
  <body style="background: #f2f3f8">
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      bgcolor="#f2f3f8"
    >
      <tr>
        <td>
          <table
            class="container"
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td class="header">
                <!-- <img width="100" src="<%= process.env.LOGO_URL %>" title="logo" alt="logo" /> -->
              </td>
            </tr>
            <tr>
              <td class="content">Hi <%= data.name %>,</td>
            </tr>
            <tr>
              <td class="content">
                Welcome to TEN NEXT GEN! We have created an account for you for
                <%= data.organization %>.
              </td>
            </tr>
            <tr>
              <td class="content">
                Please login with the following credentials:
              </td>
            </tr>
            <tr>
              <td class="content">
                <strong>Login Here:</strong>
                <a href="<%= process.env.FRONTEND_URL %>" target="_blank"
                  ><%= process.env.FRONTEND_URL %></a
                >
              </td>
            </tr>
            <tr>
              <td class="content"><strong>Email:</strong> <%= data.to %></td>
            </tr>
            <tr>
              <td class="content">
                <strong>Your Temporary Password:</strong> <%=
                data.Temporary_Password %>
              </td>
            </tr>
            <tr>
              <td class="content">
                You can reset your password once you log in.
              </td>
            </tr>
            <tr>
              <td class="content">
                We are always here to help. For any questions, contact us at
                <a href="mailto:contact@believ.com">contact@tennextgen.com</a>.
              </td>
            </tr>
            <tr>
              <td class="content">Thank you for choosing TEN NEXT GEN.</td>
            </tr>
            <tr>
              <td class="footer">Your success is our success!</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
